body{
  margin: 0;
  overflow: hidden;
}

#mod-container {
  white-space: pre;
}

.ly-content {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.ly-top {
  border: 1px solid black;
  grid-column: 1/10;
  grid-row: 1;
  
}
.ly-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.ly-middle {
  grid-column: 1/10;
  grid-row: 2/8;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 20px;
  grid-auto-rows: minmax(100px, auto);
}
.ly-middle-l {
  grid-column: 1/5;
  grid-row: 1/6;
  border: 1px solid red;
}
.ly-contetn-l {
  padding: 10px;
}
.ly-middle-r {
  border: 1px solid red;
  grid-column: 5/10;
  grid-row: 1/6;
}
